<div class="content1">
  <div style="height: 800px">
    <div id="card_slider">
      <div id="card_track">
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://humanities.najah.edu/media/filer_public/c7/33/c733db40-c0a2-49dd-beec-ec7175ba5eb9/hum4.jpg"
            />
            <p>Faculty of Humanities</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://www-cdn.najah.edu/media/filer_public_thumbnails/filer_public/3c/ab/3cab6b2b-842f-4e06-97ea-71291880dc52/old_campus.jpg__1320x740_q95_crop_subsampling-2_upscale.jpg"
            />
            <p>College of Economics and Social Sciences</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://agri.najah.edu/media/filer_public_thumbnails/filer_public/5b/70/5b701a1c-a27c-4def-8543-320e5cd012b6/agriimg.jpg__1170x501_q85_crop_subsampling-2_upscale.jpg"
            />
            <p>College of Agriculture and Veterinary Medicine</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://www-cdn.najah.edu/media/filer_public_thumbnails/filer_public/2b/fd/2bfd3636-7430-4c01-867b-d78aeade0160/faculty_medicine_health.jpg__1320x740_q95_crop_subject_location-2616%2C419_subsampling-2_upscale.jpg"
            />
            <p>College of Medicine and Health Sciences</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://www-cdn.najah.edu/media/filer_public_thumbnails/filer_public/ca/f3/caf37f5a-0d27-49fa-8caf-05e3fce27512/kly_lhnds.jpg__1320x740_q95_crop_subsampling-2_upscale.jpg"
            />
            <p>College of Engineering</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://educ.najah.edu/media/filer_public_thumbnails/filer_public/f1/a6/f1a69845-1fb7-4559-aa6d-06e3687669ba/edu_faculty.jpg__1170x658_q85_crop_subsampling-2_upscale.jpg"
            />
            <p>Faculty of Educational Sciences and Teacher</p>
          </div>
        </a>
        <a href="  ">
          <div class="subject_card">
            <img
              src="https://www-cdn.najah.edu/media/filer_public_thumbnails/filer_public/ea/fa/eafa2be0-756c-415c-8b46-91e9a2f83947/studen_life_najah_.jpg__1280x960_q95_crop_subsampling-2_upscale.jpg"
            />
            <p>Faculty of Fine Arts</p>
          </div>
        </a>
      </div>
    </div>

    <section class="tabs">
      <input
        id="tab-1"
        type="radio"
        name="radio-set"
        class="tab-selector-1"
        checked="checked"
      />
      <label for="tab-1" class="tab-label-1">Study Plan</label>
      <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
      <label for="tab-2" class="tab-label-2">Exams</label>
      <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
      <label for="tab-3" class="tab-label-3">Programs</label>
      <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
      <label for="tab-4" class="tab-label-4">Files</label>
      <div class="content">
        <div class="content-1">
          <h2>Study Plan</h2>
          <p>
            Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus.
            Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam
            elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
            Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo.
            Vivamus sed magna quis ligula eleifend adipiscing. Duis orci.
            Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam
            molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut
            dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique
            tempus lectus.
          </p>
        </div>
        <div class="content-2">
          <h2>Exams</h2>
          <p>
            Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida
            ante, ut pharetra massa metus id nunc. Duis scelerisque molestie
            turpis. Sed fringilla, massa eget luctus malesuada, metus eros
            molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet
            fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam.
            Praesent in eros vestibulum mi adipiscing adipiscing. Morbi
            facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut
            posuere viverra nulla. Aliquam erat volutpat. Pellentesque
            convallis. Maecenas feugiat, tellus pellentesque pretium posuere,
            felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris
            consectetur tortor et purus.
          </p>
        </div>
        <div class="content-3">
          <h2>Programs</h2>
          <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti.
            Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat,
            eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent eu risus hendrerit ligula tempus pretium.
            Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
          </p>
          <p>
            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper
            at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo
            vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti.
            Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros,
            id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
            sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat
            porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu
            tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
            Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
          </p>
        </div>
        <div class="content-4">
          <h2>Files</h2>
          <p>
            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti.
            Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat,
            eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
            pellentesque. Praesent blandit adipiscing velit. Suspendisse
            potenti. Donec mattis, pede vel pharetra blandit, magna ligula
            faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque.
            Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi
            lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean
            vehicula velit eu tellus interdum rutrum. Maecenas commodo. Praesent
            blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede
            vel pharetra blandit, magna ligula faucibus eros, id euismod lacus
            dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
            commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
            ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum
            rutrum. Maecenas commod. Pellentesque nec elit. Fusce in lacus.
            Vivamus a libero vitae lectus hendrerit hendrerit.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
