<div class=" container content">
        <button    
          style="position: relative"
          class="btn btn-primary"
          (click)="addNewEvent()"
        >
          + ADD NEW EVENT
        </button>
<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
      <h4 class="sec-title">Latest Events</h4>
  </div>
  <div class="col-md-12">
      <div class="row bg-white rounded mt-3">
          <div class="col-md-1">
              <h2>Oct<br><strong>23</strong></h2>
          </div>
          <div class="col-md-4 no-padding">
              <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png">
          </div>
          <div class="col-md-7 py-3">
              <div class="card-block px-3">
                  <h4 class="card-title mt-0"><strong>Lorem ipsum dolor sit amet</strong></h4>
                  <p class="text-secondary mb-0">
                      <strong>1015 California Ave, Los Angeles CA</strong>
                  </p>
                  <p class="text-secondary">
                      <strong>7:00 pm - 8:00 pm</strong>
                  </p>
                  <p class="card-text">
                      Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                  <hr>
                  <a href="#" class="text-secondary">Read More <i class="icon ion-android-arrow-forward"></i></a>
              </div>
          </div>
      </div>
      <div class="row bg-white rounded mt-4">
          <div class="col-md-1">
              <h2>Oct<br><strong>23</strong></h2>
          </div>
          <div class="col-md-4 no-padding">
              <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png">
          </div>
          <div class="col-md-7 py-3">
              <div class="card-block px-3">
                  <h4 class="card-title mt-0"><strong>Lorem ipsum dolor sit amet</strong></h4>
                  <p class="text-secondary mb-0">
                      <strong>1015 California Ave, Los Angeles CA</strong>
                  </p>
                  <p class="text-secondary">
                      <strong>7:00 pm - 8:00 pm</strong>
                  </p>
                  <p class="card-text">
                      Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                  <hr>
                  <a href="#" class="text-secondary">Read More <i class="icon ion-android-arrow-forward"></i></a>
              </div>
          </div>
      </div>
      <div class="row bg-white rounded mt-4">
          <div class="col-md-1">
              <h2>Oct<br><strong>23</strong></h2>
          </div>
          <div class="col-md-4 no-padding">
              <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png">
          </div>
          <div class="col-md-7 py-3">
              <div class="card-block px-3">
                  <h4 class="card-title mt-0"><strong>Lorem ipsum dolor sit amet</strong></h4>
                  <p class="text-secondary mb-0">
                      <strong>1015 California Ave, Los Angeles CA</strong>
                  </p>
                  <p class="text-secondary">
                      <strong>7:00 pm - 8:00 pm</strong>
                  </p>
                  <p class="card-text">
                      Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                  <hr>
                  <a href="#" class="text-secondary">Read More <i class="icon ion-android-arrow-forward"></i></a>
              </div>
          </div>
      </div>
  </div>
    </div>
  </div>
  </div>
